 <div class="banner-krypton" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= image_path 'banner-background.jpg' %>)">


 <!--  <div class="container"> -->
<!--     <form class="banner-form">
      <h3 style="font-weight: bold">Book superheroes to stay and do things with.</h3 style="font-weight: bold">
        <div class="form-group">
          <label for="exampleInputEmail1">WHERE</label>
          <input type="email" class="form-control form-control-lg" id="exampleInputEmail1" aria-describedby="emailHelp" >

        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">WHEN</label>
          <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" >
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">SUPERPOWERS</label>
          <input type="password" class="form-control form-control-lg" id="exampleInputPassword1" >
        </div>
        <%#= link_to 'BOOK YOUR SUPERHERO', superheros_path, class: 'btn button-krypton' %>
      </div>
    </form> -->
<!--   </div>  -->


  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <%= form_tag superheros_path, method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            placeholder: "Find a location",
            class: "form-control"
          %>

          <select class="select2" name="country" multiple="multiple">
            <% Superhero::POWERS.map do |power| %>
              <option value="<%= power %>"><%= power %></option>
            <% end %>
          </select>
        <% end %>
      </div>
    </div>
  </div>

</div>


  <div class="container">
    <br>
    <p><strong>MEET THEM</strong></p>
    <div class="cards-superheroes">
      <% @superheros.each do |hero| %>
      <div class="card-superhero">
        <%= cl_image_tag hero.photo %>
        <div class="card-superhero-content">
          <h5 class="green-color"> <%= hero.name %></h5>
          <p>Price per day: <%= hero.price_per_day %> €</p>
          <p> Review: <span class=green-color>★★★★★</span></p>
          <p>Superpower: <%= hero.superpower %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
