  <div class="container">
    <br>
    <p><strong>CHOOSE YOUR SUPERHERO !</strong></p>
  <div class="cards-superheroes">
    <% @superheros.each do |hero| %>
    <div class="card-superhero">
      <%= cl_image_tag hero.photo %>
      <div class="card-superhero-content">
        <h5 class="green-color"> <%= hero.name %></h5>
        <p>Price per day: <%= hero.price_per_day %> €</p>
        <p> Review: <span class=green-color>★★★★★</span></p>
        <p>Superpower: <%= hero.superpower %></p>
        <%= link_to 'BOOK', superhero_path(hero), class: 'btn button-krypton-ghost' %>
      </div>
    </div>
    <% end %>
  </div>
    <div
    id='map'
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>


<!--
<select class="select2" name="country" multiple="multiple">
            <% #Superhero::POWERS.map do |power| %>
              <option value="<%#= power %>"><%#= power %></option>
            <% #end %>
          </select> -->
