<h1>Add your SuperHero !</h1>
<div class="container">
  <%= simple_form_for [@user, @superhero] do |f| %>
  <%= f.input :name %>
  <%= f.input :location %>
  <%= f.input :superpower %>
  <%= f.input :price_per_day %>
  <%= f.submit "Add this SuperHero" %>
  <% end %>
</div>
