<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path @superhero.photo, weight:200, width: 200, crop: :fill %>)">
  <h1 class="h1-show"><%= (@superhero.name).upcase %></h1>
</div>

<div class="container">
  <div class="show-page-flex">
    <div class="superhero-info-flex">
      <h3 id="tag-show-page"> <i class="fas fa-info-circle"> </i> <%= @superhero.name %></h3>
      <h5><i class="far fa-compass"></i>  Location: <%= @superhero.location %></h5>
      <h5><i class="fas fa-bolt"></i>  Superpower: <%= @superhero.superpower %></h5>
      <h5><i class="fas fa-dollar-sign"></i>  Daily rate : $<%= @superhero.price_per_day %></h5>
      <h5><i class="fas fa-at"></i>  Agent's contact: <%= @superhero.user.email %></h5>

    </div>
    <div class="superhero-form-flex">
      <h2>Book your superhero</h2>
      <%= simple_form_for [@superhero, @booking] do |f|%>
      <%= f.input :start_date %>
      <%= f.input :end_date %>
      <%= f.submit "Book your superhero", class: "btn button-krypton"%>
      <% end %>
    </div>
  </div>
</div>
