<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(<%= image_path @superhero.photo, weight:200, width: 200, crop: :fill %>)">
  <h1 class="h1-show"><%= @superhero.name %></h1>
</div>
<div class="container show-description">
  <div class="row">
    <div class="col-sm-12 col-lg-6">
      <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis provident, id. Deleniti mollitia provident ea fugiat doloribus cum officia ab ducimus hic ipsa possimus tempore eius molestias dolore dolorem, aspernatur. </p>
    </div>
    <div class="booking-form col-sm-12 col-lg-5 ">
      <h2>Book superheros to save your world</h2>
      <%= simple_form_for @superhero do |f|%>
      <%= f.input :name, class: "simple_form_input" %>
      <%= f.input :location, class: "simple_form_input" %>
      <%= f.input :price_per_day, class: "simple_form_input" %>
      <%= f.submit "Book your superhero", class: "button-krypton"%>
      <% end %>
    </div>
  </div>
</div>
