<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Krypton, rent your superhero !</title>
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <link href="https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="node_modules/select2/dist/css/select2.css"> -->
  <%= stylesheet_pack_tag 'application', media: 'all' %>
</head>
<body class="<%= 'new-superhero-bg' if params[:action] == "new" %>">
  <%= render '_shared/navbar-krypton' %>
  <div class="wrapper">
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
  <div class="push"></div>
  </div>
  <%= render '_shared/footer-krypton' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_pack_tag 'application' %>
</body>
</html>
